<div class="container">
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <h1 class="h1-responsive">Todo App:</h1>
      </div>
    </div>
    <div class="row mt-5 ">
      
      <div class="col-md-5 list mb-1">
        <div class="row px-4 mt-3">
          <div class="form-group full-width" *ngIf="todos.length > 0">
            <form class="full-width">
              <div *ngFor="let todo of todos">
                <div *ngIf="!todo.parent">
                    <input type="checkbox" id="{{todo.id}}" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
                    &nbsp;&nbsp;<label for="{{todo.id}}" [ngClass]="{'strikethrough' : todo.complete}">{{todo.title}}</label>
                    <span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;Due date: {{todo.due_date}}</span>
                    <button type="button" class="close" aria-label="Close" style="float: right;" (click)="removeTodo(todo)">
                      <span aria-hidden="true" >&times;</span>
                    </button>
                  <div *ngFor="let child of todos">
                    <div *ngIf="child.parent == todo.id">
                      &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="{{child.id}}" (click)="toggleTodoComplete(child)" [checked]="child.complete">
                      &nbsp;&nbsp;<label for="{{child.id}}" [ngClass]="{'strikethrough' : child.complete}">{{child.title}}</label>
                      <span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;Due date: {{child.due_date}}</span>
                      <button type="button" class="close" aria-label="Close" style="float: right;" (click)="removeTodo(child)">
                        <span aria-hidden="true" >&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row px-4 mt-1">
          <div class="md-form">
            <form>
              <a class="prefix">
                <i class="fa fa-plus prefix"></i>
              </a>
              <input mdbActive type="text" id="form2" class="form-control" [(ngModel)]="newTodo.title" name="titleAdd" required>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Due date: <input type="date" [(ngModel)]="newTodo.due_date" name="dueDateAdd" required>
              <input type="submit" value="Add new task" [disabled]="!newTodo.title.length || !newTodo.due_date.length" (click)="addTodo()">
              <label for="form2">Add new task</label>
            </form>
            <br>
            <input type="checkbox" (click)="toggleDropdown()" [checked]="dropdown">
            &nbsp;&nbsp;Is a subtask?
            <div *ngIf="dropdown">
              Select parent task: 
              <select [(ngModel)]="newTodo.parent">
                <option *ngFor="let t of tasks" [value]="t.id">{{t.title}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>